<div id="pdf">
  <div class="container p-4 " >
    <div class="p-2" >
      <div class="pb-4 m-2" style="background-color: #5e72e4; color: black;">
        <div class="pull-left">
          <p>GESIMMO</p>
        </div>
        <div class="pull-right">
          <p>Facture</p>
        </div>
      </div>
      <div >
        <br>
        <p>48 CASABLANCA </p>
        <p>Maroc</p>
      </div> <br>
        <div class="row">
          <div class="col-sm">
            <div class="pull-left">
              <p>Facturé a</p>
              <p>Almissaoui kawtar</p>
              <p>48 Casablanca</p>
              <p>11200</p>
            </div>
          </div>
          <div class="col-sm ">
            <div>
              <p>Facturé a</p>
              <p>Almissaoui kawtar</p>
              <p>48 Casablanca</p>
              <p>11200</p>
            </div>
          </div>
          <div class="col-sm">
            <div class="pull-right ">
              <p>Facture N :1234 </p>
              <p>Date :12/02/2000</p>
              <p>Echeance :12/02/2000</p>
            </div>
          </div>
        </div> <br>
        <table  class="table" >
          <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Description</th>
              <th scope="col">Montant</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">11/01/1021</th>
              <td>Electricite</td>
              <td>300</td>
            </tr>
            <tr>
              <th scope="row">11/01/1021</th>
              <td>Eau</td>
              <td>200</td>
            </tr>
            <tr>
              <th scope="row">11/01/1021</th>
              <td>Personnel</td>
              <td>100</td>
            </tr>
            <tr >
              <td scope="row"></td>
              <td >TOTAL HT :</td>
              <td></td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td>TVA 20% :</td>
              <td></td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td>Total</td>
              <td></td>
            </tr>
          </tbody>
        </table>
        <br>
        <br>
        <div >
          <p>Condition et modalité de paiement :</p>
          <p>Le paiement est du le :05/04/2021</p>
          <p>48 Casablanca</p>
          <p>11200</p>
        </div>
    </div>
  </div>
</div>
<button class="icon_image "  (click)="exportAsPDF()">Downnload</button>
